:root {
    --color0: #ffff60;
    --color1: #ffffa5;
    --color2: #ffffbb;
    --color3: #ffffd2;
    --color4: #ffffe8;
    --color5: #ffffff;
}

div.banner h2{
    font-family: 'Muli',sans-serif;
}

div.banner {
    background-color: var(--color1);
    color: black;
    /* max-width: 500px;
    min-width: 100px; */
    width: 100%;
    font-family: Garamond;
    font-size: 18px;
}

div.banner div.banner-content {
    left: 7%;
    padding-top: 50px; 
    padding-left: 50px;
    width: 40%;
    max-width: 500px;
    text-align: justify;
    justify-content: flex-start;
}

div.banner > div.banner-content > p{
    margin-bottom: 0px;
    padding-bottom: 18px;
}



/* Estilos para telas pequenas (inferiores a 768px) */
@media only screen and (max-width: 1280px) {
    div.banner div.banner-content {
        left: 7%;
        padding-top: 50px; 
        padding-left: 50px;
        width: 85%;
        max-width: 500px;
        text-align: justify;
        justify-content: flex-start;
    }
  }