
.container{
	--sizeItem:3em;
	--sizeBlock:351px;
	--speed: .3s;
	--selected: #3187F2;
	--normal: #AAA;
	
	position: relative; 
	display: flex;
	width: auto;
	margin-bottom: 20px;
	padding: 10px; /* Adiciona um pouco de espaço dentro do combo */
	background: hsl(0, 0%, 98%);
	border-radius: 14px; /* Arredonda as bordas */
	font-size: 18px;
	height: var(--sizeBlock);
	position: relative;  /* Necessário para que o conteúdo seja cortado corretamente */
	
	&:focus {
		outline: none;
	}
	&::after{
		content: "Pressione ← ou →";
		bottom: -25px;
		left: 45%;
		font-size: 10px;
		position: absolute;
	}
}

.mainContent{
	
	display: grid;
	flex: 1; /* Ocupa o restante do espaço disponível */
	margin-left: -4em;
	overflow: hidden;
	padding: 10px;
	place-items: center;
	position: relative; /* Necessário para o controle correto do posicionamento absoluto */
	z-index:1;
	height: var(--sizeBlock);
}

.sideBar{
	z-index:2;
	width: 4.5em; /* Ajuste a largura conforme necessário */
	height: var(--sizeBlock);
}








.uiSteps {
	width: 4.5em;
	display: grid;
	height: auto;
	margin: auto;
	place-items: center;
}

.uiStep {
	margin-bottom: var(--sizeItem);
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 4.5em;
	min-width: 4.5em;
	span {
		border-radius: 50%;/*Faz um circulo*/
		width:  var(--sizeItem);
		height:  var(--sizeItem);
		background: var(--normal);
		color: #FFF;
		display: grid;
		place-items: center;
		transition: 
		background-color var(--speed) cubic-bezier(0.5, 0, 0.5, 1),
		font-size 1s;
		cursor: pointer;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

.selected span{
	background: var(--selected);
	font-size: 1.5rem;
}