
.card{
  position: relative;
  height: auto;     /* Ajusta a altura da card para o tamanho da imagem */
  width: fit-content;
}
.card img{
  /* Garante que a imagem seja exibida como um bloco (sem margens extras) */
  box-shadow: 0px -2px 20px 10px rgba(255, 255, 255, .2);
  max-height: 400px;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa */
  width: auto;
}
.card > span {
  position: absolute;
  top: 0;
  right: 0;
  
  font-size: 0rem;
  height: 0;
  width: 0;
}
