
.card{
  position: relative;
  height: auto;     /* Ajusta a altura da card para o tamanho da imagem */
  width: fit-content;
}
.card img{
  /* Garante que a imagem seja exibida como um bloco (sem margens extras) */
  box-shadow: 0px -2px 20px 10px rgba(255, 255, 255, .2);
  max-height: 400px;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa */

  margin: 0;
  width: auto;
}

.card > span {
  height: 0px;
  width: 0px;
  font-size: 0;
}