.badget {
    font-family: 'Cagliostro', sans-serif;
    color:black;
    padding:5px;
    position:absolute;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    /*Não Selecionavel*/
    user-select: none; /* Funciona nos navegadores modernos */
  -webkit-user-select: none; /* Suporte para WebKit (Chrome, Safari, etc.) */
  -moz-user-select: none; /* Suporte para Firefox */
  -ms-user-select: none; /* Suporte para navegadores mais antigos da Microsoft */
}



.lt{ /* Lefte Top*/
    top: -12.5px;
    left:15px;
}

.rt{ /* Right Top*/
    top:-12.5px;
    right:15px;
}

.lb{ /* Left Bottom*/
    bottom:-6px;
    left:15px;
}

.rb{ /* Right Bottom*/
    bottom:-6px;
    right:15px;
}