.blockCard {
    flex: 2;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.viewCard {
    box-sizing: border-box;
    height: auto; /* A altura será ajustada automaticamente para manter a proporção original */
    max-width: 200px;
    min-width: 150px;
}


  