  .listBox {
    margin-top: 20px;
    margin-bottom: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
  }

  
@media only screen and (max-width: 600px){
  .listBox {
    margin-left: 0px;
    margin-right: 0px;
  }
}

  .listBox h2 {
    color: #fff;
    background: var(--backGroundLess);
    padding: 10px 20px;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .listBox ul {
    display: flex;
    flex-direction: column; /* Adicione esta linha */
    position: relative;
    background: #fff;
    border-bottom: 20px solid var(--backGroundLess);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .listBox ul:hover li {
    opacity: 0.3;
    transition: opacity ease 0.5s;
  }
  .listBox ul li {
    text-align: justify;
    box-sizing: border-box; /* Largura e altura incluem preenchimento e bordas */
    list-style: none;
    padding: 10px 20px 10px 20px;
    width: 100%; /* Cada item ocupa 100% da largura disponível */
    background: #fff;
    transition: transform 0.5s,opacity ease 1s;
  }
  
  .listBox ul li:hover {
    transform: scale(1.1);
    background: var(--backGroundLess);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
  }
  .listBox ul li span {
    user-select: none;  
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: var(--backGroundLess);
    color: #fff;
    display: inline-block;
    border-radius: 5%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-2px);
  }
  
  .listBox ul li:hover span {
    background: #fff;
    color: var(--backGroundLess);
  } 
/* o que é inherit initial unset */