.block {
  box-sizing: border-box;
  justify-content: center;
  align-items:center;
  text-align: justify;
  line-height: 1.618em;
  min-height: 100px;
  margin-bottom: 10px;
  padding: 0px 50px; /* Padding apenas para o conteúdo textual */
  box-sizing: border-box; /* Inclui o padding no cálculo do tamanho */
  display: block;
}

.emphasis {
  box-shadow: 2px 2px 2px 2px #c0c0c0;
}


.block div.title{
  font-size: 1.618em;
}

.block div.content{
  width: 100%;
  text-align: justify;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 16px; /* Espaço entre os elementos */
}

.text div.content{
  justify-content: start;
}