:root {
    --color0: #ffff60;
    --color1: #ffffa5;
    --color2: #ffffbb;
    --color3: #ffffd2;
    --color4: #ffffe8;
    --color5: #ffffff;
}

.component{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
}

.content, .inversecontent {
    max-width: 1280px;
}

div .txt {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    max-width: 500px;
    color: black;
    text-align: justify;
    margin-left: 5%;
}

div .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
div .img img{
    min-height: 200px;
    max-height: 400px;
    max-width: 300px;
}