.badget {
    font-family: 'Cagliostro', sans-serif;
    color:black;
    padding:5px;
    position:absolute;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    /*Não Selecionavel*/
    user-select: none; /* Funciona nos navegadores modernos */
  -webkit-user-select: none; /* Suporte para WebKit (Chrome, Safari, etc.) */
  -moz-user-select: none; /* Suporte para Firefox */
  -ms-user-select: none; /* Suporte para navegadores mais antigos da Microsoft */
}

.target{
    bottom: 0;
    right:30px;
    background-color: rgb(250, 73, 73);
}

.triguer{
    top:-10px;
    right:30px;
    background-color:rgb(106, 245, 255);
}

.hold{
    top:-10px;
    left:30px;
    background-color:rgb(255, 253, 106);
}