ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: end;
  }

.button {
    background-color: var(--backGroundLess);
    padding: 15px 30px; /* Espaçamento interno na barra de navegação */

}
.button:hover {
    background-color:var(--backGround);
}

.link {
    text-decoration: none; /* Remover sublinhado dos links */
    font-weight: bold; /* Estilo de fonte para os links */
}

  ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  
  
  a {
    
    color: var(--azulCeu); /* Cor do texto dos links */
  }
  